
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

img {
    height: 100px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.HomePage {
    list-style-type: none;
    float: right;
}



.Nav__links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    float: right;
    width: 20%;
    
}

.Nav__links li {
    padding: 0px;
}

.Nav__links a {
    text-decoration: none;
    color: #000;
}