.Auth {

}

.SignUp {
    width: 100%;
    padding: 0px;
}

.Section__Container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    -webkit-box-shadow: 0 2px 3px #ccc;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Section__Container {
        width: 500px;
    }
}

.Invalid {
    border: 1px solid red;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}